.container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    height:400px;
    width:400px;
    margin: 0 auto;
    margin-top: 50px;
}

.textInput {
    grid-row: span 1;   
    width:100%;
}

.ant-form-item label {
    position: absolute !important;
}

.buttonForm {
    height:40px;
    width: 200px;
    margin: auto !important;
}

.intro {
    text-align: center;
    margin-top: 40px;
}

.forgot {
    height:40px;
    width: 180px;
    margin:auto !important;
}

.login {
}